<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kevin.TexasTechWeatherApp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ttu_icon"
        android:label="TTU Weather"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".Add_Location"
            android:theme="@style/AppTheme1"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            >
        </activity>
        <activity
            android:name=".NewPage"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            >
        </activity>

        <activity
            android:name=".Settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            >
        </activity>
        <activity
            android:name=".MainNonGPS"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".NewPageNonGPS"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainNonGPS"
            >
        </activity>
    </application>

</manifest>